[Desktop Entry]
Encoding=UTF-8
Name=Azpazeta
Comment=Azpazeta, the economic and strategy game.
Comment[es]=Azpazeta, el juego económico y estratégico.
Exec="/opt/extras.ubuntu.com/azpazeta/Azpazeta" %f
Terminal=false
Type=Application
Icon=Icono64.png
Categories=GTK;KDE;Games;
MimeType=application/x-azpazeta-savefile
Name[es_ES]=Azpazeta
GenericName=Economic and strategy game
GenericName[es_ES]=Juego de estrategia y economía
OnlyShowIn=GNOME;Unity;

X-Ayatana-Desktop-Shortcuts=Actualizar;AZPServer;

[Actualizar Shortcut Group]
Name=Actualizar
Exec=update-manager
OnlyShowIn=Unity

[AZPServer Shortcut Group]
Name=AZPServer
Exec=gnome-terminal -x /opt/extras.ubuntu.com/azpazeta/AZPServer
OnlyShowIn=Unity

